extends ../../layout

block content
	.container.main
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 名字
						th 注册时间
						th 最近登录
						th IP
						th 操作
				tbody
					each item in users
						tr(class="item-id-#{item._id}")
							td.name 
								a(target="_blank",href="/admin/user/#{item._id}") #{item.name}
							td #{moment(item.meta.createAt).format("YYYY-MM-DD HH:MM:SS")}
							td #{moment(item.lastest.time).format("YYYY-MM-DD HH:MM:SS")}
							td #{item.lastest._ip}
							td.update
								a.btn.btn-xs.btn-info(target="_blank",href="/admin/update/#{item._id}") 修改
								button.btn.btn-xs.btn-danger.del(type="button",data-id="#{item._id}") 删除
	script(src="/js/admin.js")