extends ../layout

block content
	.container
		.row
			form.form-horizontal(method="post",action="/admin/movie/new")
				input(type="hidden",name="movie[_id]",value="#{movie._id}")
				.form-group
					label.col-md-1.control-label(for="inputTitle") 电影名字
					.col-md-11
						input#inputTitle.form-control(type="text",name="movie[title]",value="#{movie.title}")
				.form-group
					label.col-md-1.control-label(for="inputDoctor") 电影导演
					.col-md-11
						input#inputDoctor.form-control(type="text",name="movie[doctor]",value="#{movie.doctor}")
				.form-group
					label.col-md-1.control-label(for="inputCountry") 国家
					.col-md-11
						input#inputCountry.form-control(type="text",name="movie[country]",value="#{movie.country}")
				.form-group
					label.col-md-1.control-label(for="inputLanguaue") 语种
					.col-md-11
						input#inputLanguaue.form-control(type="text",name="movie[languaue]",value="#{movie.languaue}")
				.form-group
					label.col-md-1.control-label(for="inputPoster") 海报地址
					.col-md-11
						input#inputPoster.form-control(type="text",name="movie[poster]",value="#{movie.poster}")
				.form-group
					label.col-md-1.control-label(for="inputFlash") 片源地址
					.col-md-11
						input#inputFlash.form-control(type="text",name="movie[flash]",value="#{movie.flash}")
				.form-group
					label.col-md-1.control-label(for="inputYear") 上映年代
					.col-md-11
						input#inputYear.form-control(type="text",name="movie[year]",value="#{movie.year}")
				.form-group
					label.col-md-1.control-label(for="inputSummary") 电影简介
					.col-md-11
						input#inputSummary.form-control(type="text",name="movie[summary]",value="#{movie.summary}")
				.form-group
					.col-sm-offset-2.col-md-11
					button.btn.btn-default(type="submit") 录入